{% extends 'base.html' %}

{% block content %}

<style>
    .playlist-creation-form{
        padding-top: 100px;
    }
    .create-button{
        background-color: black;
    }
    .create-button:hover{
        background-color: grey;
    }
    .error-message{
        text-align: center;
        color: red;
    }
</style>

<div class="container">

    <form method="POST" action="" class="playlist-creation-form">
        {% csrf_token %}
        <p class="error-message">
            {% if errormessage %}
                {{errormessage}}
            {% endif %}
        </p>
        Playlist Name: <input type="text" name="playlistname" class="form-control"><br>
        Album Art: <input type="text" name="albumart" class="form-control"><br>
        <button type="submit" class="btn btn-success create-button"><span class="glyphicon glyphicon-plus"></span>&nbspCreate</button>
    </form>

    <h2> Your Playlists: </h2>

    {% if ownplaylists %}
        
            <div id="ownplaylists">
                {{ownplaylists|safe}}
            </div>
           
    {% else %}
        <p style="text-align: center"> Start by creating a playlist from above</p>
    {% endif %}

    <h2> Shared Playlists: </h2>
    
    {% if sharedplaylists %}
    <div id="sharedplaylists">
            {{sharedplaylists|safe}}
    </div>
    
    {% else %}
        <p style="text-align: center"> No Playlists has been shared with you</p>
    {% endif %}
</div>
{% endblock %}